.test-chart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    color: #fff;
}

.test-columns {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    color: #fff;
    margin-bottom: 30px;
}

.test-columns > div {
    width: 33% !important;
}


.test-chart-container .testTitle {
    /* margin-bottom: 20px; */
}

.test-chart-container .infoTableContainer {
    display: flex;
    justify-content: center;
}

.test-chart-container .pie-value {
    text-shadow: 0px 0px 10px #6b6b6b;
}

.test-chart-container .progress-wrapper {
    width: 70%;
    font-size: 20px;
}

.test-chart-container .progress {
    height: 25px !important;  
    background-color: #1f1f1f;
    border: 1px solid #fff; 
    margin-bottom: 10px;    
}

.test-chart-container .bg-pass{
    background-color: #7cdc7c !important;
}
.test-chart-container .bg-fail {
    background-color: #f34545 !important;
}
.test-chart-container .bg-skip {
    background-color: #afafaf !important;
}
.test-chart-container .bg-openissue {
    background-color: #61a3ff !important;
}

.test-chart-container .infoTableContainer {
    display: flex;
    justify-content: center;
}

.test-chart-container .listScrollerContainer {
    overflow: hidden
}