.test-chart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    color: #fff;
}

.progress-wrapper {
    margin-top: 20px;
    font-size: 20px;
}

.progress {
    height: 25px !important;       
}

.bg-pass{
    background-color: #7cdc7c !important;
}
.bg-fail {
    background-color: #f34545 !important;
}
.bg-skip {
    background-color: #afafaf !important;
}
.bg-openissue {
    background-color: #e8b264 !important;
}